.image-card img{
    border-radius: 10px;
}

.text-card{
    font-family: "Roboto", sans-serif;
    line-height: 0.3;
    size: 18px;
    font-weight: 500;
}

.para-card{
    font-family: "Roboto", sans-serif;
    line-height: 1;
}

